<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">

        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <!-- <div class="nav-profile-image"> -->
                    <!-- <img src="/static/images/faces/face1.jpg" alt="profile"> -->
                    <!-- <span class="login-status online"></span> -->
                <!-- </div> -->
                <div class="nav-profile-text d-flex flex-column">
                    <span class="font-weight-bold mb-2">{{user.username}}</span>
                    <span class="text-secondary text-small">{{user.email}}</span>
                </div>
                <i class="mdi mdi-check-decagram text-success nav-profile-badge"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false"
                aria-controls="ui-basic">
                <span class="menu-title">Patients</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-human-male-female menu-icon"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="#">Nouveau Patient</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#">Historique</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <span class="menu-title">Support</span>
                <i class="mdi mdi-headset menu-icon"></i>
            </a>
        </li>

    </ul>
</nav>